html{
  background-color: darkslategray;
}

.container{
  background-color: darkslategray;
}

input[type="text"]{
  background: transparent;
  color: rgb(14, 12, 12);
}

input[type="text"]:focus{
  background: transparent;
  color: rgb(17, 13, 13);
}